{% extends "layout.html" %}
{% block shakestweet %}
<div class="component">
  {% if imagechosen %}
    &#0149; Your image:<br>
    <img src="static/images/{{ image }}.jpg" height="150"><br>
    <form action="/searchimages">
    <input type=text name="imagequery"></input>
    <input type="submit" value="NEW IMAGE SEARCH"></input>
    </form>
  {% else %}
    &#0149; <b>Find an image.</b><br>
    <form action="/searchimages">
    <input type=text name="imagequery"></input>
    <input type="submit" value="IMAGE SEARCH"></input>
    </form>
  {% endif %}
</div>
<div class="component">
  {% if quotelocked and quotechosen %}
    &#0149; Your quote:<br><b>{{verbiage}}</b><br>
       <p>
      <form action="/searchplays">
      <input type=text name="playquery"></input>
      <input type="submit" value="NEW TEXT SEARCH"></input>
      </form>
 {% elif quotechosen and not quotelocked %}
    &#0149; <b>Quote chosen.</b> Edit the text, if desired, then lock the quote before the next step:<br>
    <form action="/quotelocked">
    <input type="text" size="60" name="lockquote" value="{{verbiage}}"></input>
    <input type="submit" value="LOCK QUOTE"></input>
    </form>
      <form action="/searchplays">
      <input type=text name="playquery"></input>
      <input type="submit" value="NEW TEXT SEARCH"></input>
      </form>
  {% else %}
    &#0149; <b>Find a Shakespeare quote.</b><br>
    <form action="/searchplays">
    <input type=text name="playquery"></input>
    <input type="submit" value="QUOTE SEARCH"></input>
    </form>
  {% endif %}
</div>
<div class="component">
&#0149; <b>Put them together.</b><br>
  {% if imagelocked %}
    <img src="static/images/{{ mergedimage }}.jpg" height="150"><br>
  {% elif quotechosen and imagechosen %}
<form action="/merge">
<input type="submit" value="MERGE IMAGE & QUOTE"></input>
</form>
{% endif %}
</div>
<div class="component">
  &#0149; <b>Tweet your result.</b>
  {% if imagelocked %}
<form action="{{ url_for('tweet') }}" method="post" class="tweet">
  <input type="submit" name="tweet" value="TWEET FINAL RESULT"></input>
</form>
{% endif %}
</div>

{% endblock %}