{% extends "layout.html" %}
{% block shakestweet %}
<b>Hello</b> from a template
<P>

{{ data }}<P>


{% for image in imagefilenames %}

<P>

<img src="{{item}}">

{% endfor %}

<form action="/searchimages">
Find images by keyword: <input type=text name="imagequery"></input>
<input type="submit" value="IMAGE SEARCH"></input>
</form>
<p></p>
  {% if quotechosen %}
You have selected a line from Shakespeare. It is line# {{lineID}}:<br>
  {% for line in chosenShakesline %}
    <b>{{ line.speaker }}: {{ line.text_entry }} (from <i>{{ line.play_name}}</i>)</b><br>
  {% endfor %}
To choose again, enter a new search term:
  {% else %}
Find quotes by keyword:
{% endif %}
<form action="/searchplays">
<input type=text name="playquery"></input>
<input type="submit" value="QUOTE SEARCH"></input>
</form>
<p></p>
<form action="/merge">
<input type="submit" value="MERGE IMAGE & QUOTE"></input>
</form>
<p></p>
<form action="/tweet">
<input type="submit" name="tweet" value="TWEET FINAL RESULT"></input>
</form>
<p></p>
<form action="/imagesearch">
<input type="submit" value="IMAGE SEARCH"></input>
</form>



{% endblock %}